html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #000;
}

.main {
    width: 30%;
    margin: auto;
}

#btnSubmit {
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 0.3em;
    background-color: #FFF;
}

#btnSubmit:hover {
    cursor: pointer;
}

#text {
    width: 70%;
    height: 2rem;
    font-size: 1.3rem;

}

input:focus {
    border: none;
    outline: none;
}

.count {
    margin-top: 1em;
}

.container {
    width: 50%;
    margin: auto;
}

.movie-div {
    margin: 1rem;
    border: 3px solid white;
    padding: 1rem;
}

img {
    width: 50%;
}